$primaryColor: #fdba34
$mainWhite: #fff
$offWhite: #ebebeb
$mainBlack: #222
$mainGrey: #e7e7e7
$darkGrey: #cfcfcf
$mainTransition: all 0.3s linear
$quickTransition: all 0.1s linear
$mainSpacing: 3px
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5)
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5)
$mainGradientLeft: #f12711
$mainGradientRight: #f5af19
$maxWidthMobile: 768px
$cardWidth: 300px
